[Desktop Entry]
Name=EasyBash
Icon=/usr/share/applications/easybash/icon.png
Type=Application
Categories=GNOME;GTK;Utility;TextEditor;
Exec=easybash
StartupNotify=false
Terminal=true
